*
{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

body
{
    background-color: linear-gradient(to right, #00aaff, #00ff6c);
    animation: a 5s infinite;
}

@keyframes a
{
    0%{
        background-color: #00aaff;
    }

    50%{background-color:#00ff6c}

    100%{background-color: #00aaff;}
}


h1
{
    text-align:center;
    font-size: 50px;
    animation: b 5s infinite;
}

@keyframes b
{
    0%{color:black;}

    50%{color:white;
    }

    100%{color:black}
}
.calculator-grid
{
    display:grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

button
{
    cursor:pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}

button:hover
{
    background-color: rgba(255, 255, 255, 0.90);
}

.ac
{
    grid-column: 1/3;
}

.equal
{
    grid-column: 3/5;
}

.output
{
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand
{
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand
{
    color:white;
    font-size: 2.5rem;
}







